<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
 <key>items</key>
 <array>
  <dict>
   <key>assets</key>
   <array>
    <dict>
     <key>kind</key>
     <string>software-package</string>
     <key>url</key>
     <string>http://10.2.3.201/研三共用資料夾/2.建置版本/-Jenkins備份/Unity-iPhone.49.Flight_24.190329.120149.ipa</string>
    </dict>
   </array>
   <key>metadata</key>
   <dict>
    <key>bundle-identifier</key>
    <string>com.igeer3.ios.demo21</string>
    <key>bundle-version</key>
    <string>2.1.0</string>
    <key>kind</key>
    <string>software</string>
    <key>title</key>
    <string>安裝 MN 測試版</string>
   </dict>
  </dict>
 </array>
</dict>
</plist>
