<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
        <dict>
            <key>assets</key>
            <array>
                <dict>
                    <key>kind</key>
                    <string>software-package</string>
                    <key>url</key>
                    <string>http://10.2.3.201/%E7%A0%94%E4%B8%89%E5%85%B1%E7%94%A8%E8%B3%87%E6%96%99%E5%A4%BE/2.%E5%BB%BA%E7%BD%AE%E7%89%88%E6%9C%AC/-Jenkins%E5%82%99%E4%BB%BD/Unity-iPhone.65.master.190415.011409.ipa</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>full-size-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://10.2.3.201/%E7%A0%94%E4%B8%89%E5%85%B1%E7%94%A8%E8%B3%87%E6%96%99%E5%A4%BE/2.%E5%BB%BA%E7%BD%AE%E7%89%88%E6%9C%AC/-Jenkins%E5%82%99%E4%BB%BD/icon.png</string>
                </dict>
                <dict>
                    <key>kind</key>
                    <string>display-image</string>
                    <key>needs-shine</key>
                    <true/>
                    <key>url</key>
                    <string>http://10.2.3.201/%E7%A0%94%E4%B8%89%E5%85%B1%E7%94%A8%E8%B3%87%E6%96%99%E5%A4%BE/2.%E5%BB%BA%E7%BD%AE%E7%89%88%E6%9C%AC/-Jenkins%E5%82%99%E4%BB%BD/icon.png</string>
                </dict>
            </array>
            <key>metadata</key>
            <dict>
                <key>bundle-identifier</key>
                <string>com.igeer3.ios.demo21</string>
                <key>bundle-version</key>
                <string>2.1.0</string>
                <key>kind</key>
                <string>software</string>
                <key>title</key>
                <string>Download App 2.1.0</string>
            </dict>
        </dict>
    </array>
</dict>
</plist>
